<div class="app-container">
  <h1 class="titulo">Livraria Digital</h1>
  <div class="button-container">
    <a routerLink="/login" target="_blank" class="button login-button">Login</a>
    <a routerLink="/user" target="_blank" class="button cadastro-button">Cadastrar</a>
  </div>
  <div class="button-container">
    <a routerLink="/autores" target="_blank" class="button autores-button">Autores</a>
    <a routerLink="/livros" target="_blank" class="button livros-button">Livros</a>
  </div>
</div>
